<nav class="navbar navbar-expand-lg navbar-light bg-dark mx-5">
  <label class="mx-2">University ABY</label>
  <button aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation"
          class="navbar-toggler"
          data-bs-target="#navbarToggler" data-bs-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav">
      <li class="nav-item px-3">
        <button routerLink="/students" pButton pRipple type="button" label="Students" class="p-button-sm p-button-outlined p-button-rounded"></button>
      </li>
      <li class="nav-item px-3">
        <button routerLink="/departments" pButton pRipple type="button" label="Departments" class="p-button-sm p-button-outlined p-button-rounded"></button>
      </li>
    </ul>
  </div>
</nav>
