<lab5-nav-bar></lab5-nav-bar>

<div class="container">
  <router-outlet></router-outlet>
</div>
<!--<div class="container m-5">-->
<!--  <div>-->
<!--    <h1> Students data </h1>-->
<!--    <lab5-create-student class="my-2"></lab5-create-student>-->
<!--    <lab5-display-student></lab5-display-student>-->
<!--  </div>-->

<!--  <div>-->
<!--    <h1> Departments data </h1>-->
<!--    <lab5-create-department></lab5-create-department>-->
<!--    <lab5-display-department></lab5-display-department>-->
<!--  </div>-->

<!--</div>-->
