
<p-button icon="pi pi-plus-circle" label="Add Department" (click)="showCreateDialog()"></p-button>

<p-dialog [(visible)]="displayCreateModel" [modal]="true" [draggable]="false">
  <div class="grid p-fluid">

    <div class="col-12 md:col-4">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
        <input #name type="text" pInputText placeholder="name">
      </div>
    </div>

    <div class="col-12 md:col-4">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="fa fa-building"></i></span>
        <input #location type="text" pInputText placeholder="Location">
      </div>
    </div>

  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-plus-circle" (click)="add(name.value, location.value)" label="Add" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>
